[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-autobot"]
	path = dotbot-autobot
	url = https://github.com/gwerbin/dotbot-autobot.git
	ignore = dirty
[submodule "vim/bundle/goyo.vim"]
	path = vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
	ignore = dirty
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	ignore = dirty
[submodule "vim/bundle/suda.vim"]
	path = vim/bundle/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
	ignore = dirty
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	ignore = dirty
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	ignore = dirty
[submodule "vim/bundle/vim-pencil"]
	path = vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
	ignore = dirty
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	ignore = dirty
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "zsh/custom/themes/geometry"]
	path = zsh/custom/themes/geometry
	url = https://github.com/geometry-zsh/geometry.git
	ignore = dirty
[submodule "zsh/custom/themes/spaceship-prompt"]
	path = zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
	ignore = dirty
[submodule "zsh/custom/plugins/fast-syntax-highlighting"]
	path = zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh/custom/plugins/send.zsh"]
	path = zsh/custom/plugins/send.zsh
	url = https://github.com/robertzk/send.zsh.git
[submodule "vim/bundle/vim-notes"]
	path = vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/vim-litecorrect"]
	path = vim/bundle/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect.git
[submodule "zsh/custom/plugins/alias-tips"]
	path = zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "zsh/custom/themes/astral"]
	path = zsh/custom/themes/astral
	url = https://github.com/alphabetum/astral.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "zsh/custom/themes/bullet-train.zsh"]
	path = zsh/custom/themes/bullet-train.zsh
	url = https://github.com/caiogondim/bullet-train.zsh.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "misc/gruvbox-rofi"]
	path = misc/gruvbox-rofi
	url = https://github.com/bardisty/gruvbox-rofi
[submodule "vim/bundle/wal.vim"]
	path = vim/bundle/wal.vim
	url = https://github.com/dylanaraps/wal.vim
[submodule "zsh/custom/plugins/send"]
	path = zsh/custom/plugins/send
	url = https://github.com/robertzk/send.zsh
[submodule "vim/bundle/indentpython.vim"]
	path = vim/bundle/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
    ignore = dirty
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-ruby-doc"]
	path = vim/bundle/vim-ruby-doc
	url = https://github.com/lucapette/vim-ruby-doc
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/bundle/vim-rhubarb"]
	path = vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
